
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Campo</ng-template>
        <ion-item lines="full">
          <ion-label position="stacked">
            Huerto
          </ion-label>
          <ion-select formControlName="huerto" placeholder="Seleccione Huerto">
            <ion-select-option *ngFor="let item of huertos">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">
            Cuartel
          </ion-label>
          <ion-select formControlName="cuartel" placeholder="Seleccionar...">
            <ion-select-option *ngFor="let cuartel of cuarteles">{{cuartel}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div>
          <button mat-button matStepperNext>Continuar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>especie</ng-template>
      <form [formGroup]="secondFormGroup">
        <ion-item lines="full">
          <ion-label position="stacked">
            Especie
          </ion-label>
          <ion-select formControlName="especie" placeholder="Seleccionar..." multiple={true}>
            <ion-select-option value="Fresa">Fresa</ion-select-option>
            <ion-select-option value="Manzana">Manzana</ion-select-option>
            <ion-select-option value="Uva">Uva</ion-select-option>
            <ion-select-option value="Naranja">Naranja</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">
            Variedad
          </ion-label>
          <ion-select formControlName="variedad" placeholder="Seleccionar..." multiple={true}>
            <ion-select-option *ngFor="let variedad of variedades">{{variedad}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Continuar</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Equipo</ng-template>
      <form [formGroup]="equipoFormGroup">
        <ion-list>
          <ion-item *ngIf="!online">
            <ion-input formControlName="run" class='boton' placeholder='RUT'
              [brmasker]="{mask:'00.000.000-00', len:12}">
            </ion-input>
          </ion-item>
          <!--ion-item>
              <ion-button (click)='scan()' >
                SCAN COD12
                <ion-icon name="qr-code-outline"></ion-icon>
              </ion-button>
            </ion-item-->
            <ion-item lines="full">
              <ion-label position="stacked">
                Cuadrilla
              </ion-label>
              <ion-select formControlName="cuadrilla" placeholder="Seleccionar..." >
                <ion-select-option value="Fresa">Fresa</ion-select-option>
                <ion-select-option value="Manzana">Manzana</ion-select-option>
                <ion-select-option value="Uva">Uva</ion-select-option>
                <ion-select-option value="Naranja">Naranja</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input formControlName="personas" type="number"></ion-input>
            </ion-item>
        </ion-list>
      </form>
      <div>
        <button mat-button matStepperPrevious>Asignar Credenciales</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <ion-list>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime id="date_input_config" [(ngModel)]="date" display-format="DD/MM/YYYY" picker-format="DD MM YYYY">
      </ion-datetime>
    </ion-item>


    <!--ion-item lines="full">
      <ion-label position="stacked">
        Envase
      </ion-label>
      <ion-select multiple placeholder="Seleccionar...">
        <ion-select-option *ngFor="let envase of envases">{{envase}}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item lines="full">
      <ion-label position="stacked">
        Envase Contenedor
      </ion-label>
      <ion-select multiple placeholder="Seleccionar...">
        <ion-select-option *ngFor="let envase of envases">{{envase}}</ion-select-option>
      </ion-select>
    </ion-item-->
  </ion-list>
</ion-content>