
<ion-tabs>

  <ion-tab-bar slot="botton">
    <ion-tab-button tab="config">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recepcion">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>Recepción</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transferencia">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label>transferencia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="despacho">
      <ion-icon name="bus-outline"></ion-icon>
      <ion-label>Despacho</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mas">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  
  

</ion-tabs>
